<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<title>Harmonogram</title>
<link th:href="@{/js/fullcalendar/fullcalendar.min.css}" rel="stylesheet" />
<link th:href="@{/js/fullcalendar/fullcalendar.print.min.css}" rel="stylesheet" media='print' />
<link th:href="@{/style/bootstrap.min.css}" rel='stylesheet' />
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/fullcalendar/lib/moment.min.js}"></script>
<script th:src="@{/js/fullcalendar/lib/jquery.min.js}"></script>
<script th:src="@{/js/fullcalendar/fullcalendar.min.js}"></script>
<script th:src="@{/js/fullcalendar/locale/pl.js}"></script>
<script>

  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month, basicWeek, basicDay'
      },
	  defaultView: 'basicDay',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true // allow "more" link when too many events
    });

    $.ajax({ 
        type: 'GET', 
        url: '/wizyty',  
        dataType:'json',
        success: function (data) { 
        	$('#calendar').fullCalendar( 'renderEvent', data, true);
        }
    });
  });
</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    //max-width: 900px;
    margin: 0 auto;
  }

</style>
</head>
<body>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
  <li class="breadcrumb-item active">Panel użytkowników</li>
</ol>
  <div id='calendar'></div>

</body>
</html>
