<!DOCTYPE html>

<html lang="pl-PL"  xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1"/>
  <title>Strona główna</title>
	<link th:href="@{style/bootstrap.min.css}"  rel="stylesheet" />
	<link th:href="@{style/metro-bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" /> 
	<script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-confirmation.js}"></script>
	<link th:href="@{/style/style.css}" rel="stylesheet" />
	
</head>


<body>

<div class="container">
<ol class="breadcrumb pasek-nawigacji">
  <li class="breadcrumb-item"><a href="/">Strona główna</a></li>
  <li class="breadcrumb-item active">Panel użytkowników</li>
</ol>
<div class="row">
<div class="col-md-4">
<a href="./harmonogram">
	<div class="thumbnail tile tile-large tile-green">
        <div class="fa-links kafelek" style="margin-top: 30%;">          
                <i class="fa fa-5x fa-calendar"></i>
				<h1>Harmonogram</h1>
		</div>
    </div>
	</a>
</div>
<div class="col-md-4">
<a href="./uzytkownicy">
	<div class="thumbnail tile tile-large tile-orange">
        <div  class="fa-links kafelek">
            
                <i class="fa fa-5x fa-user-o"></i>
				<h1>Użytkownicy</h1>
		</div>
	</div>
	</a>
</div>
</div>
</div>
</body>
</html>
